<div>
  <form action='transform' method='POST'>
    <input
      type='text'
      id='url-input'
      name='url'
      placeholder='Input URL here'
      required
    />
    <button class='btn' type='submit'>Shorten</button>
  </form>
</div>