<div>
  <p>{{message}}</p>
  <a id='shorten-url' href='{{shortenUrl}}' target='_blank'>{{shortenUrl}}</a>
  <img id='copy' src='/images/copy.png' />
  <div style='margin: 10px'>
    <a class='btn' href='/'>Back</a>
  </div>
</div>
<script src='/javascripts/script.js'></script>